<form action="/login" method="POST">
  <label for="username">
  <input type="text" name="username" placeholder="name or email">
  <label for="password">
  <input type="password" name="password" placeholder="password">
  <button type="submit"> Log in</button>
</form>