<h1>RANKINGS</h1>
<select id="rankingSelector" onchange="findGroup()">
  <option id="gobal" value="global">global</option>
  {{#each groups}}
    <option id="{{this._id}}" value="{{this._id}}">{{this.name}}</option>
  {{/each}}
</select>
<script>
  function findGroup(){
    let select = document.getElementById('rankingSelector')
    let groupId = select.value;
    axios.get(`/profile/searchRanking?id=${groupId}`)
    .then((data)=>{
        console.log(data)
        const datos = data.data

    })
    .catch((err)=>{
      console.log(err)
    })
  }
</script>
