{{> menu}}

<h1>RANKINGS</h1>
<select id="rankingSelector" onchange="findGroup()">
  <option id="gobal" value="global">global</option>
  {{#each groups}}
    <option id="{{this._id}}" value="{{this._id}}">{{this.name}}</option>
  {{/each}}
</select>
<select id="ejercise" onchange="findGroup()">
  <option value="dominadas">Dominadas</option>
  <option value="pressBanca">Press Banca</option>
  <option value="pressMilitar">Press Militar</option>
  <option value="sentadilla">Sentadilla</option>
  <option value="pesomuerto">Peso muerto</option>
  <option value="velocidad">Velocidad</option>
  <option value="resistencia">Resistencia Muscular</option>
  <option value="aerobica">Resistencia Aerobica</option>
</select>
<form id="ranking">

</form>
<script>
  function findGroup(){
    let selG = document.getElementById('rankingSelector')
    let selE = document.getElementById('ejercise')
    let groupId = selG.value;
    let ejType = selE.value;
    axios.get(`/profile/searchRanking?id=${groupId}&type=${ejType}`)
    .then((data)=>{
      console.log(data.data)
      const datos = data.data
      let form = document.getElementById('ranking')
      while (form.lastChild) {
        form.removeChild(form.lastChild);
      }
      for(var i=0;i < data.data.length;i++){
        let div = document.createElement("div")
        let name = document.createElement("label")
        let nota = document.createElement("label")
        name.innerText = data.data[i].name
        nota.innerText = data.data[i].ejer[1]
        form.appendChild(div)
        div.appendChild(name)
        div.appendChild(nota)
      }
    })
    .catch((err)=>{
      console.log(err)
    })
  }
</script>
