{{> menu}}


<label for="date">

  Date: <input type="date" name="date">

</label>
<label for="weight">

  Weight: <input type="text" name="weight">

</label>

<button id="send">Send</button>
<button id="evolution">Evolution</button>
<canvas id="chart"></canvas>



<script>

let send = document.getElementById('send')
let date = document.getElementsByName('date')[0]
let weight = document.getElementsByName('weight')[0]
let evolution = document.getElementById('evolution')


send.onclick = ()=>{
  axios.post(`/weight?date=${date.value}&weight=${weight.value}`)
  .then((data)=>{
  })
  .catch((err)=>{
      console.log(err)
  })
}


evolution.onclick = ()=>{

let array1 = []
let array2 = []
let limite = []


  axios.get('/weightEvo')
  .then(data=>{
    let datos = data.data.weight
datos.forEach((elemento)=>{

array1.push(elemento.weight)
array2.push(elemento.date)
limite.push(75)

})
  })

pintarChart(array1,array2,limite)

}

function pintarChart(array1,array2,limite){

var ctx = document.getElementById("chart").getContext('2d');
ctx.canvas.height = 100;
var myChart = new Chart(ctx, {
    type: 'line',
   data: {
    labels: array2,
    datasets: [{ 
        data: array1,
        label: "Peso",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: limite,
        label: "Limite",
        borderColor: "#8e5ea2",
        fill: false
      }
    ]
  },
    
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}

</script>
