<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="#">IronFIT</a>
    <ul class="navbar-nav">
      <li class="nav-item">
         <a class="nav-link" href="/upejercise">Up Ejercises<span class="sr-only">Up Ejercises</span></a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="/group">Groups<span class="sr-only">Groups</span></a>
      </li>
      <li class="nav-item">
           <a class="nav-link" href="/profile/rankings">Ranking<span class="sr-only">Ranking</span></a>
      </li>
      <li class="nav-item">
           <a class="nav-link" href="/profile/evolution">My Evolution<span class="sr-only">My Evolution</span></a>
      </li>
       <li class="nav-item">
           <a class="nav-link" href="/training">Entrenamientos<span class="sr-only">Entrenamientos</span></a>
      </li>
    
       <li class="nav-item">
           <a class="nav-link" href="/profile/profile">Profile<span class="sr-only">Weight</span></a>
      </li>
       <li class="nav-item">
           <a class="nav-link" href="/profile/iron">Iron<span class="sr-only">Iron</span></a>
      </li>
       <li class="nav-item">
           <a class="nav-link" href="/logout">Log Out<span class="sr-only">Log Out</span></a>
      </li>
    
       
    </ul>
  </div>

</nav>