<label>City</label>
<input type="text" id="city" placeholder="city">
<label>Country</label>
<input type="text" id="country" placeholder="country">
<button onclick="searchEvents()">Search</button>
<div id="container"></div>
<script>
  function searchEvents(){
    let city = document.getElementById("city").value 
    let country = document.getElementById("country").value 
    axios.get("http://localhost:4015/events/axios?city=" + city + "&country=" + country)
    .then(data => {
      console.log(data)
      let div = document.getElementById("container")
      for(var i = 0; i < data.data.length; i++){
        const miniDiv = document.createElement("div");
        div.appendChild(miniDiv)
        const img = document.createElement("img");
        const dir = document.createElement("label");
        const name = document.createElement("label");
        const date = document.createElement("label");
        img.src = data.data[i].logo
        dir.innerText = data.data[i].dir
        name.innerText = data.data[i].name
        date.innerText = data.data[i].date
        img.setAttribute("class","img");
        miniDiv.appendChild(img)
        miniDiv.appendChild(dir)
        miniDiv.appendChild(name)
        miniDiv.appendChild(date)
      }
    })
    .catch(err => console.log(err))
  }

</script>
